dm-haiku
jax
transformers
tensorflow
torch
onnx
onnx2keras
tf-keras
Pillow
numpy
scipy
requests
PyMuPDF
datasets
pydub
speechrecognition
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
